html,
header,
#landing-header,
footer,
body,
h1,
h2,
h3,
img,
a,
div {
    border: 0;
    margin: 0;
    padding: 0;
}

/*mobile layout*/

body {
    font-family: Roboto Flex;
    background-color: #212121;
    color: white;
}

/*landing page styling */

#landing-header {
    color: white;
    background-color: #212121;
    align-content: center;
    align-items: center;
    text-align: center;

}

#landing-header h1 {
    font-family: Cal Sans;
    font-size: 300%;
}

#landing-header h3 {
    font-family: Roboto Flex;
    font-size: 150%;
    font-weight: 150;
}

#landing-header img {
    border-radius: 50%;

}

#landing-invite {
    margin-top: 20%;
    text-align: center;
    margin-bottom: 8px;
}

#landing-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing-links a {
    width: 95%;
    height: 50px;
    font-size: 200%;
    font-family: Cal Sans;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
}

/*desktop styling*/
@media screen and (min-width: 1080px) {
    html {
        height: 100%;
        padding: 2rem;
        
    }

    body {
        
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    /*desktop styling for landing page */

    #landing-invite {
        display: none;
    }

    #landing-header {
        height: 15%;
        display: flex;
    
        align-items: center;
        padding-left: 30px;
        color: white;
    }

    #landing-header h1 {
        font-size: 500%;
        animation: appear 3s ease-out forwards;

    }

    #landing-header h3 {
        font-size: 200%;
        animation: appear 3s ease-out forwards;
    }

    #landing-header img {
        border-radius: 50%;
        height: 40vw;
        width: 40vw;
        max-width: 300px;
        max-height: 300px;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        top: 80px;
        animation: popIn 350ms forwards ease-out;
    }

    #landing-header div {
        margin-left: 20px;
    }

    main {
        align-content: center;
        align-items: center;
        flex-basis: 75%;
        padding: 0 5%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        flex-basis: 10%;
        padding: 0 5%;
    }

    footer a {
        color: white;
    }

    #contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }

    #landing-links {

        display: flex;
        flex-direction: row;
        animation: rightGrow 1s ease-out forwards;
        

    }

    #landing-links a {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 180%;
        border: 10px solid white;
        border-radius: 0;
        height: 200px;
        margin: 10px;
        animation: appear 2s ease-in-out forwards;
        transition: border-radius 750ms, border-color 750ms, border-style 3280ms;
    }

    #landing-links a:hover {
        border-color: whitesmoke;
        border-radius: 10px;
        border-left-style: double;
        border-right-style: double;
        border-top-style: double;
        border-bottom-style: double;

    }

    #landing-links a::after {
        content: "";
        display: block; 
        height: 2px; 
        background: blue;
        width: 0;
        margin-top:5px;
        transition: width .3s; 
    }

    #landing-links a:hover::after {
        width: 60%;
    }
}

@keyframes rightGrow {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 100%;
        opacity: 1;

    }
}

@keyframes appear {
    from {
        opacity: 0;
        display: none;
    }

    to {
        opacity: 1;
        display: flex;
    }

}

@keyframes popIn {

    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(125%);
    
    }

    100% {
        transform: scale(100%);
    }
}

